html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; /*防止iphone和Android的浏览器纵向和横向模式自动调整字体大小的功能*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}